* {
  background-color: pink;
}
.tmp-container {
  display: flex;
  flex-wrap: wrap;
}

.puzzle-grid {
  max-width: 95vw;
  max-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.puzzle {
  position: relative;
}

.preview-image {
  /* max-width: 90vw;
  max-height: 90vh; */
  width: 200px;
  height: auto;
  position: absolute;
}

.placeholder {
  /* display: none; */
  max-width: 90vw;
  max-height: 90vh;
}

.piece {
  overflow: hidden;
  position: absolute;
}

.piece-img {
  position: absolute;
}

.hover {
  opacity: 0.5;
}

@keyframes snapPop {
  0% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.piece.correct {
  animation: snapPop 0.25s ease;
}

.check-btn {
  margin-top: 500px;
  padding: 20px 10px;
  width: 100px;
  height: 20px;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
